extends ../layout

block content
  h1 Albums
 
  button(type="submit" value="New Album")
      a(href="/albums/new") New Album

   table
    thead
      tr
        th ID
        th Artist
        th Album
        th Genre
        th Rating
    tbody
      for album in allAlbums
        tr
          td 
            a(href='/albums/' + album._id)= album._id
          td
            a(href='/albums/' + album._id)= album.artist  
          td
            a(href='/albums/' + album._id)= album.name
          td= album.genre
          td= album.rating
             