extends ../layout

block content
  h1 Albums

  a(href="/albums/new") New Album

   table
    thead
      tr
        th ID
        th Name
        th Artist
        th Genre
        th Rating
    tbody
      for album in allAlbums
        tr
          td 
            a(href='/albums/' + album._id)= album._id
          td
            a(href='/albums/' + album._id)= album.name  
          td
            a(href='/albums/' + album._id)= album.artist
          td= album.genre
          td= album.rating
             