extends ../layout

block content

  h1= theAlbum.name
  h2= theAlbum.artist
  h2= theAlbum.genre
  h2= theAlbum.rating
  h3= theAlbum.explicit
  
  a.button(href="/albums/" + theAlbum._id + '/edit') Edit
    
  

  form(action="/albums/" + theAlbum._id + '/delete', method="post")
    input.button(type="submit", value="Delete")